@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

h1 {
    font-family: var(--font-family);
    font-weight: 500;
    text-align: center;
}

p {
    font-family: var(--font-family);
    font-weight: 300;
    padding: 8px 24px;
    border: 1px solid black;
    border-radius: 24px;
    text-align: center;
    width: auto;
}

#resultado {
    border: none;
    margin: 0;
    padding: 0;
}

#resultado:hover{
    background-color: white;
}

p:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all .2s ease;
}